<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Bienvenue sur Polytech Cinema !</h1>
    <p>Vous trouverez sur cette page le top des films !</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4" *ngFor="let film of films">
      <h2>{{film.title}}</h2>
      <img src="../assets/rogue_one.jpg" class="col-xs-12 img-responsive">
      <p>A movie of {{film.director.firstName}}</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>
